@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
}

p {
    font-weight: 400;
}



button {
    cursor: pointer;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
    color: white;
}

/* index.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.modal-content {
    position: relative;
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 90%;
    max-height: 75vh;
    overflow: hidden;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* styles.css */
input[type="text"],
input[type="date"],
input[type="time"],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #d1d5db;
    background-color: white;
    color: black;
    font-size: 1rem;
    height: 2.5rem;
    /* Ensure uniform height */
}

input::placeholder {
    color: black;
}